<!-- <ng-gantt [data]="data" [options]="editorOptions">
  <ng-template #taskContent let-task>
    <div class="task-bar" [ngClass]="task.pClassCustom">{{ task.pName }}</div>
  </ng-template>
</ng-gantt> -->


<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 80vh;">
  <h3>Live Reload</h3>
  <button (click)="changeData()">New Data</button>
  <br><br>

  <div style="height: 300px; width: 90vw;">
    <ng-gantt [options]="editorOptions" [data]="data" #editor></ng-gantt>
  </div>
</div>

